motor
tgcrypto
asyncio
python-dotenv
aiohttp
Kurigram
#https://github.com/IamDvis/pyrogram/archive/dvis.zip
requests
pillow

aiofiles
yt_dlp
bs4
curl_cffi
jikanpy
httpx
https://github.com/IamDvis/DVIS-SEARCH/archive/dvis.zip





